html{
    width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('imagen/fondo.png');
    background-size: cover; /*hace que no se me repita la imagen y ocupa todo el fonso*/
}

body{
    width: 100%;
    height: auto;
}

header{
    height: 100px;
    text-align: center;
    margin: 0;
}

main{
    width: 800px;
}

header h1{
    color: #006ea4;
    font-size: 3rem;
}

main form{
    background-color: white;
    
}